/javascript/acronym/.exercism
/javascript/acronym/node_modules
/javascript/acronym/.eslintrc
/javascript/acronym/babel.config.js
/javascript/acronym/package-lock.json
/javascript/acronym/package.json

/javascript/gigasecond/.exercism
/javascript/gigasecond/node_modules
/javascript/gigasecond/.eslintrc
/javascript/gigasecond/babel.config.js
/javascript/gigasecond/package-lock.json
/javascript/gigasecond/package.json

/javascript/hello-world/.exercism
/javascript/hello-world/node_modules
/javascript/hello-world/.eslintrc
/javascript/hello-world/babel.config.js
/javascript/hello-world/package-lock.json
/javascript/hello-world/package.json

/javascript/resistor-color/.exercism
/javascript/resistor-color/node_modules
/javascript/resistor-color/.eslintrc
/javascript/resistor-color/babel.config.js
/javascript/resistor-color/package-lock.json
/javascript/resistor-color/package.json

/javascript/resistor-color-duo/.exercism
/javascript/resistor-color-duo/node_modules
/javascript/resistor-color-duo/.eslintrc
/javascript/resistor-color-duo/babel.config.js
/javascript/resistor-color-duo/package-lock.json
/javascript/resistor-color-duo/package.json

/javascript/two-fer/.exercism
/javascript/two-fer/node_modules
/javascript/two-fer/.eslintrc
/javascript/two-fer/babel.config.js
/javascript/two-fer/package-lock.json
/javascript/two-fer/package.json

/ruby/acronym/.exercism
/ruby/hello-world/.exercism
/ruby/high-scores/.exercism
/ruby/matrix/.exercism
/ruby/resistor-color-duo/.exercism
/ruby/two-fer/.exercism
